.image-comparison {
  position: relative;
  width: 100%;              /* 改為百分比自適應*/
  height: 100%;
  /* max-width: 1024px; */
  overflow: hidden;
  margin: 0 auto;           /* 置中 */
  border-radius: 12px;
}

.image-comparison-vertical{
  max-width: 576px;         /* 最大寬度 */
  max-height: 768px;        
  aspect-ratio: 4 / 3;      /* 維持 3:4 比例 */
}

.image-comparison-horizontal{
  max-width: 1024px;        /* 最大寬度 */
  max-height: 768px;
  aspect-ratio: 4 / 3;      /* 維持 4:3 比例 */
}

/* ✅ 大螢幕（桌機） */
@media (min-width: 1200px) {
  .image-comparison {
    max-width: 1024px;        /* 最大寬度 */
    max-height: 768px;
  }

  .image-comparison-vertical{
    max-width: 576px;         /* 最大寬度 */
    max-height: 768px;        
    aspect-ratio: 3 / 4;      /* 維持 3:4 比例 */
  }

  .image-comparison-horizontal{
    max-width: 1024px;        /* 最大寬度 */
    max-height: 768px;
    aspect-ratio: 4 / 3;      /* 維持 4:3 比例 */
  }
}

/* ✅ 中螢幕（筆電 / 平板橫向） */
@media (max-width: 1199px) and (min-width: 768px) {
  .image-comparison {
    max-width: 900px;
    max-height: 675px;
  }

  .image-comparison-vertical{
    max-width: 506px;
    max-height: 675px;        /* 最大寬度 */
    aspect-ratio: 3 / 4;      /* 維持 3:4 比例 */
  }

  .image-comparison-horizontal{
    max-width: 900px;        /* 最大寬度 */
    max-height: 675px;
    aspect-ratio: 4 / 3;      /* 維持 4:3 比例 */
  }

}

/* ✅ 小螢幕（平板直向） */
@media (max-width: 767px) and (min-width: 480px) {
  .image-comparison {
    max-width: 640px;
    max-height: 480px;
  }

  .image-comparison-vertical{
    max-width: 360px;
    max-height: 480px;        /* 最大寬度 */
    aspect-ratio: 3 / 4;      /* 維持 3:4 比例 */
  }

  .image-comparison-horizontal{
    max-width: 640px;        /* 最大寬度 */
    max-height: 480px;
    aspect-ratio: 4 / 3;      /* 維持 4:3 比例 */
  }

}

/* ✅ 手機（直向） */
@media (max-width: 479px) {
  .image-comparison {
    max-width: 100%;
    aspect-ratio: 3 / 2; /* 可略為調整比例讓畫面更滿 */
  }
}

.image-comparison .images-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.image-comparison .images-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.image-comparison .images-container .before-image{
    position: absolute;
    top: 0px;
    width: 50%;
}

.image-comparison .image-slider{
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 90;
}

.image-comparison .image-slider-line{
    position: absolute;
    height: 100%;
    width: 4px;
    background-color: rgba(207, 207, 207, 0.8);
    left: 50%;
    transform: translateX( -50% );
    z-index: 80;
}

.image-comparison .image-slider-icon{
    position: absolute;
    left: 50%;
    top: 80%;
    width: 96px;
    height: 34px;
    color: white;
    transform: translate( -50%, -50% );
    z-index: 85;
}